<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <services>
            <service name="ServiceHost.Service" behaviorConfiguration="mexBihavior">
                <endpoint address="netTcpEndpoint" binding="netTcpBinding"
                    bindingConfiguration="" contract="HT1_2.IDiskInfo" />
              <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"></endpoint>
              <host>
                <baseAddresses>
                  <add baseAddress="http://localhost:8080/"/>
                  <add baseAddress="net.tcp://localhost:50/"/>
                </baseAddresses>
              </host>
            </service>
        </services>
      <behaviors>
        <serviceBehaviors>
          <behavior name="mexBihavior">
            <serviceMetadata httpGetEnabled="true"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>